.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas:
    "hd   hd   hs   hs"
    "sd main main main"
    "ft  ft  ft  ft";
}

.header {
  background-color: blue;
  margin: 5px;
  border-radius: 10px;
  grid-area: hd;
  text-align: center;
}

.header2 {
  background-color: blue;
  margin: 5px;
  border-radius: 10px;
  grid-area: hs;
  text-align: center;
}

.content {
  background-color: blue;
  margin: 5px;
  border-radius: 10px;
  grid-area: sd;
  text-align: center;
}

.content2 {
  background-color: blue;
  margin: 5px;
  border-radius: 10px;
  grid-area: main;
  text-align: center;
}

.footer {
  background-color: blue;
  margin: 5px;
  border-radius: 10px;
  grid-area: ft;
  text-align: center;
}
